extends layout

block content
    form(method='POST' action='/new')
        label(for='user')= 'User'
        input(type='text' name='user')
        label(for='message')= 'Message'
        input(type='text' name='message')
        button(type='submit')= 'SEND'