extends layout

block content
  ul 
    each mess in messages
      li #{mess.user} says #{mess.text} at #{mess.added}
  a(href=`http://localhost:${process.env.PORT || 3000}/new`): button= "Go to form"